.quote {
  background: rgb(26, 23, 23);
  padding: 8rem 0 350px;
  position: relative;

  &::after {
    content: "";
    height: 400px;
    width: 100%;
    position: absolute;
    background: url(../../assets/img/gmap.jpg) center/cover;
    z-index: 2;
    left: 0;
    bottom: 0;
  }
  .quote-container {
    background: whitesmoke;
    max-width: 1000px;
    margin: 0 auto;
    padding: 4rem 5rem 4rem;
    width: 90%;
    position: relative;
    box-shadow: 0 0 3px black;
    z-index: 3;

    &::before {
      content: "";
      position: absolute;
      background: url(../../assets/img/avatar-02.jpg) center/cover;
      height: 60px;
      width: 60px;
      top: -31px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 200px;
    }

    .text {
      line-height: 30px;

      &::before {
        content: "\275d";
        font-size: 1.5rem;
      }
      &::after {
        content: "\275e";
        font-size: 1.5rem;
      }
    }

    h2 {
      margin: 2rem 0 1rem;
      font-family: "poppins";
      font-weight: 100;
    }

    p {
      color: brown;
    }
  }
}
